
html,
body,
header,
.view {
  height: 100%;
}

/*----------------Navbar----------------*/
.navbar {
  color: #DBA748;
  font-family: 'Oswald', sans-serif;
}
.navbar a:hover {
  background: #DBA748;
  color: #fff;
}


/*--------------Header----------------------*/


.banner{
    height: 100vh;
    min-height: 100vh;
    background-image: url(images/construction.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}


/*-----Navbar change on scroll------*/


/*-------footer---------*/
.footer-top {
  height: 100%;
  color: #191E20;
}

/*----Contact card--------*/

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}