
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

html, body, head
 {
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  color: #222;
}

/*----------------Navbar----------------*/
.navbar {
  padding: .8rem;
  color: #DBA748;
  font-family: 'Oswald', sans-serif;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}


/*--------------Header----------------------*/


.banner{
    height: 100vh;
    min-height: 100vh;
    background-image: url(assets/images/construction.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}

.banner-about {
  height: 100vh;
    min-height: 100vh;
    background-image: url(assets/images/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}

.banner-contact {
  height: 100vh;
    min-height: 100vh;
    background-image: url(assets/images/contact.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}
/*-----Navbar change on scroll------*/


/*-------footer---------*/
.footer-top {
  height: 100%;
  color: #191E20;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-instagram {
  color: #517fa8;

}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter-square {
  color: #00aced
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter-square:hover {
  color: #d5d5d5;
}

/*----Contact card--------*/

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}


.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*------Map-----*/
.embed-responsive-100x400px{
  padding-bottom: 400px;
}


